<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>lotto</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<!--thymeleaf-->

<h1> Losowanie lotto</h1>

<p th:text="${numbers}"></p>

</body>
</html>